body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    max-width: 100%; /* Supaya gambar tidak melebihi lebar parent */
    height: auto; /* Menjaga proporsi gambar */
    display: block; /* Menghindari margin bawaan inline */
    margin: 0 auto; /* Pusatkan gambar */
    border-radius: 10px; /* Opsional: membuat sudut gambar lebih halus */
}

.github-logo {
    width: 20px;
    margin-top: 10px;
}
